@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background:  34, 34, 34;
  --main: 67, 162, 220;
}

* {
  font-family: "Karla", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background));
}

.navbar, footer {
  background-color: #18191b
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dot {
  height: 6px;
  width: 6px;
  background-color: rgb(var(--main));
  border-radius: 50%;
  display: inline-block;
}

.navAnimation {
  height: 25px;
  transition: transform 0.5s ease;
}

.navAnimation:hover {
  transform: scaleX(1.1) scaleY(1.2);
}

.main-colour {
  color: rgb(var(--main));
}

.main-background {
  background-color: rgb(var(--main));
}

.filter-container button {
  margin-right: 2rem;
  margin-bottom: 2rem;
  min-width: 5rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

button.active {
  background-color: rgb(var(--main));
  color: white;
}

.all {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(50%, 150px), 49%));
  gap: 1rem;
}

img {
  width: 100%;
  height: 35vh;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 0.2rem;
}

.container {
  overflow: hidden; /* Hide overflow content */
  /* height: auto;
  max-height: 40vh; */
}

.container img {
  width: 100%; /* Make the image fill the container */
  transition: transform 1s ease; /* Add transition effect */
}

.container:hover img {
  transform: scale(1.2); /* Zoom in the image on hover */
}
