name: Build Website

on:
  push:
    branches:
      - main  # Trigger when changes are pushed to the main branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 'latest'

      - name: Install dependencies
        run: npm install

      - name: Build Next.js app
        run: npm run build

      # - name: Run tests (optional)
      #   run: npm test

      - name: Upload build artifacts
        uses: actions/upload-artifact@v2
        with:
          name: output export built
          path: out
